@import '../../styles/flex';
@import '../../styles/colors';



.present {
    background: url('../../public/assets/present-bg.jpeg');
    background-size: cover;
    margin: 20px 0px;
}

.presentRow {
    display: flex;
    padding: 10px 0px;
    align-items: center;
    @media only screen and (max-width: 569px){
        flex-direction: column;
     }
}
.presentColLeft {
    flex: 1 0 35%;
    @media only screen and (max-width: 569px){
        width: 300px;
     }

    .top {
        @include flex-XY-center;
        padding-top: 5px;
        box-shadow:  inset 0px 0px 1000px $mint;
        border: 1px solid $mint;
        border-radius: 10px;
        .topLeft {
            @include flex-XY-center;
            margin-right: 15px;
            .imgHolder {    
                width: 150px;
                height: 150px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
                box-shadow:  inset 0px 0px 30px $mint;
                filter: blur(0.5px);
                &:hover{
                    scale: 1.05;
                }

            }
        }

        .topRight {
            .presentLangList {
                li{
                    @include flex-XY-center;
                    flex-direction: column;
                    position: relative;
                    bottom: -10px;

                    &:first-child{  
                        left: -25px;
                        bottom: 0px;

                    }
                    &:last-child{
                        left: -25px;
                        bottom: -20px;
                    }
                    .flagHolder {
                        background-color: $mint;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%; 
                        background-position: center;
                        background-size: cover;  
                        border: 1px solid white;
                        &:hover{
                            scale: 1.05;
                        } 
                    }
    
                    .levelHolder {
                        font-size: 12px;
                        margin: 5px 0px;
                        color: white;
                        position: relative;
                        right: -30px;
                        top:-25px;
                        text-transform: uppercase;
                    }

                }
                
                
                
            }
            
            
        }
    }
    .bottom {
            @include flex-XY-center;
            color: $smoke;   
            font-size: 18px; 
            background-color: $mint;
            border-radius: 10px;
            padding: 5px;
            margin: 5px;
            text-align: center;
            @media only screen and (max-width: 769px){
                font-size: 14px;
             } 
             @media only screen and (max-width: 569px){
                font-size: 12px;
             }
    }
}





.presentColRight {
    flex: 1 0 65%;
    @include flex-X-center;
    padding: 0px 20px;

    .iconList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid $mint;
        box-shadow:  inset 0px 0px 1000px $mint;
        
        li{
            margin: 5px;
            @include flex-Y-center;
            flex-direction: column;

            

            .iconHolder {
                position: relative;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                display: block;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                box-shadow: 0px 0px 10px $mint;
                animation: pulse 3s linear infinite;

                @media only screen and (max-width: 769px){
                    width: 60px;
                    height: 60px;
                 }
                 @media only screen and (max-width: 569px){
                   width: 40px;
                   height: 40px;
                 }

                &:hover{
                    scale: 1.05;
                }
                
                
                &::before{
                    content: '';
                    position: absolute;
                    display: block;
                    width: 99%;
                    height: 99%;
                    border-radius: 50%;
                    left: 0px;
                    top: 0px;
                    animation: spin 3s linear infinite;
                    box-shadow: 0px 2.5px 8px white;
                }
            }
            @keyframes pulse {
                0%{
                    transform: rotate(-5deg);

                }
                50%{
                    transform: rotate(5deg);
                }
                100%{
                    transform: rotate(-5deg);

                }

                
            }
            
            @keyframes spin {
                0%{
                    transform: rotate(0deg);
                }
                
                100%{
                    transform: rotate(360deg);
                   
                }

                
            }



            .nameHolder{
                color: $smoke;
                text-transform: uppercase;
                margin: 5px 0px;
                @media only screen and (max-width: 769px){
                    font-size: 12px;
                 }

            }
            .levelHolder{
                position: relative;
                width: 80px;
                height: 10px;
                color: $smoke;
                padding: 3px 10px;
                border: 1px solid white;
                border-radius: 10px;
                box-shadow: 0px 0px 5px white;

                @media only screen and (max-width: 769px){
                    width: 60px;
                 } 

                .levelLineHolder{
                    position: absolute;
                    top: 0px;
                    left: 0; 
                    
                    .levelLine{
                        display: block;
                        width: calc(100%);
                        height: 8px; 
                        border-radius: 10px; 
                        animation: level 2s linear; 
                    }
                }

            }
        }
    }
}

@keyframes level {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
