@import '../styles/colors';
@import '../styles/flex';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    margin: 0 auto;
    width: 1024px;
    @media only screen and (max-width: 1064px){
        width: 100vw;
        padding: 0px 20px;
     }
     @media only screen and (max-width: 330px){
        width: 90vw;
        padding: 0px 20px;
     }
}

a{
    text-decoration: none;
    color: $light-mint;
}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    border: none;
    outline: none;
    background: none;
}

.title{
    @include flex-XY-center;
    background-color: $mint;
    color: $light-mint;
    padding: 10px 0px;
    text-transform: uppercase;
    @media only screen and (max-width: 769px){
        font-size: 18px;
    }
}

.toTopBtn{
    @include flex-XY-center;
    box-shadow:  inset 0px 0px 90px $mint;
    color: white;
    line-height: 0;
    font-size: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 100px;
    right: 50px;
    animation: jump 1s ease infinite;

    @media only screen and (max-width: 429px){
        right: 20px;
    }
}

@keyframes jump {
    0%{
        bottom: 100px;
    }
    50%{
        bottom: 105px;
    }
    100%{
        bottom: 100px;
    }
    
}

.loader{
    width: 100vw;
    height: 100vh;
    @include flex-XY-center;
    background:url('../public/assets/loadHolder.jpg');
    background-size: cover;

    div{
    width: 300px;
    height: 19px;
    border-radius: 10px;
    box-shadow: 
        0px 0px 5px white, 
        0px 0px 15px white, 
        0px 0px 25px white;
    background-color: white;
    position: relative;

    &::before{
        content: '';
        display: block;
        background: linear-gradient(to right, $light-mint, $mint);  
        height: 100%;  
        border-radius: 10px;
        animation: loader 2s ease-in; 
    }

    i{
        color: white;
        position: absolute;
        line-height: 0;
        top: 9px;
        left: 95px;
        z-index: 0;

    } 

    h3{
        width: 300px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        text-shadow: 0px 0px 10px white;
        margin-top: 30px; 
        animation: greet 2s ease-in-out;
        animation-delay: 1.6s;
        letter-spacing: 10px;
        opacity: 0;
    }
    }
}

@keyframes loader {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

@keyframes greet {
    0%{
        opacity: 0;
        letter-spacing: -5px;
    }

    100%{
        opacity: 1;
        letter-spacing: 10px;
    }
}


  