@import '../../styles/flex';
@import '../../styles/colors';

.about {
    .title {
    }
    .aboutText {
        text-align: justify;
        padding: 20px 0px;
        word-spacing: 5px;
        color: $mint;
    }
}

